[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme

[submodule ".antidote"]
	path = .antidote
	url = https://github.com/mattmc3/antidote.git

