{{ if (eq .chezmoi.os "darwin") -}}
# Fig pre block. Keep at the top of this file.
. "$HOME/.fig/shell/profile.pre.bash"
{{ end }}

. "$HOME/.cargo/env"

{{ if (eq .chezmoi.os "darwin") -}}
. "$HOME/.fig/shell/zshrc.post.zsh"
{{ end }}
