{{ if lookPath "delta" -}}
[diff]
    pager = "delta"
{{ end -}}
{{ if lookPath "nvim" -}}
[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]
{{ end -}}
